[Unit]
Description=Daily Bedriftsgrafen.no Safe Disk Cleanup
Requires=bedriftsgrafen-disk-cleanup.service

[Timer]
OnCalendar=*-*-* 03:30:00
RandomizedDelaySec=20m
Persistent=true

[Install]
WantedBy=timers.target